@model IEnumerable<Book_Store.DAL.Book>
@{
    ViewBag.Title = "Index";
}

<h2>Books</h2>
@Html.ActionLink("Add Book", "AddBook", null, new { @class = "btn btn-primary"})
@foreach (var book in Model)
{
    <div>@Html.DisplayFor(modelItem => book.Title)</div>
}

