@model IEnumerable<Book_Store.DAL.Author>
@{
    ViewBag.Title = "Index";
}

<h2>Authors</h2>
@Html.ActionLink("Add Author", "AddAuthor", null, new { @class = "btn btn-primary" })
@foreach (var author in Model)
{
    <div>@Html.DisplayFor(modelItem => author.DisplayName)</div>
}


